
<nav>
    <div id="linksContainer">

        @if(!isUserLogged){
            <a [routerLinkActive]="'activeLink'" [routerLinkActiveOptions]="{ exact: true }" class="link" routerLink="/">Login</a>
            <a [routerLinkActive]="'activeLink'" [routerLinkActiveOptions]="{ exact: true }" class="link" routerLink="/register">Register</a>
        }


        @if(isUserLogged){
            <a [routerLinkActive]="'activeLink'" [routerLinkActiveOptions]="{ exact: true }" class="link" routerLink="/movies">Movies</a>
            <a [routerLinkActive]="'activeLink'" [routerLinkActiveOptions]="{ exact: true }" class="link" routerLink="/profil">Profil</a>
            <a class="link" (click)="logout()">Logout</a>
        }

    </div>
</nav>
